<div class="footer-container">
  <div class="footer-about">
    <h2 class="title">QuantumTech</h2>
    <p>Your trusted partner in cutting-edge IT products and solutions. Delivering quality and innovation to meet the needs of the modern world.</p>
  </div>
  <div class="footer-contact">
    <h3 class="title">Contact Us</h3>
    <div class="contact-items">
      <p class="contact-item">Email: tarik.cacak&#64;gmail.com</p>
      <p class="contact-item">Phone: +387 65 644 419</p>
      <p class="contact-item">Location: Tuzla, Bosnia and Herzegovina</p>
    </div>
  </div>
  <div class="footer-credits">
    <p>&copy; 2024 QuantumTech. All Rights Reserved.</p>
    <p>Designed by Tarik Čačković</p>
  </div>
</div>
